### Getting stock price data for Microsoft (stock ticker MSFT) for the last 10 years

In [ ]:
# pip install yfinance
# pip install streamlit

In [20]:
# https://towardsdatascience.com/how-to-get-stock-data-using-python-c0de1df17e75
# https://pypi.org/project/yfinance/

import yfinance as yf

#define the ticker symbol
tickerSymbol = 'MSFT'
tickerSymbol2 = 'GOOG'

# AAPL
#FB
#GOOG

#get data on this ticker
tickerData = yf.Ticker(tickerSymbol)

#get the historical prices for this ticker
tickerDf = tickerData.history(period='1d', start='2010-1-1', end='2020-1-25')
tickerDf2 = tickerData.history(period="max")

#see your data
tickerDf

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2009-12-31,24.017820,24.025573,23.630186,23.630186,31929700,0.0,0
2010-01-04,23.738725,24.110854,23.715467,23.994564,38409100,0.0,0
2010-01-05,23.917041,24.110858,23.754234,24.002319,49749600,0.0,0
2010-01-06,23.940291,24.095346,23.661196,23.855013,58182400,0.0,0
2010-01-07,23.746469,23.800739,23.405352,23.606922,50559700,0.0,0
...,...,...,...,...,...,...,...
2020-01-16,161.879712,163.741303,161.564514,163.672348,23865400,0.0,0
2020-01-17,164.903561,164.952813,162.943467,164.588379,34371700,0.0,0
2020-01-21,164.174663,165.661976,163.928420,163.997375,29517200,0.0,0
2020-01-22,164.883856,164.972515,163.189708,163.209412,24138800,0.0,0
2020-01-23,163.692048,164.292880,162.785878,164.214081,19680800,0.0,0

In [21]:
#get data on this ticker
tickerData2 = yf.Ticker(tickerSymbol2)
tickerDfo = tickerData2.history(period='1d', start='2010-1-1', end='2020-1-25')

# other stock
tickerDfo

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2009-12-31,311.208527,311.532288,308.832428,308.832428,2448744,0,0.0
2010-01-04,312.304413,313.579620,310.954468,312.204773,3927065,0,0.0
2010-01-05,312.418976,312.747742,309.609497,310.829926,6031925,0,0.0
2010-01-06,311.761444,311.761444,302.047852,302.994293,7987226,0,0.0
2010-01-07,303.562164,303.861053,295.218445,295.940735,12876685,0,0.0
...,...,...,...,...,...,...,...
2020-01-16,1447.439941,1451.989990,1440.920044,1451.699951,1173700,0,0.0
2020-01-17,1462.910034,1481.295044,1458.219971,1480.390015,2396200,0,0.0
2020-01-21,1479.119995,1491.849976,1471.199951,1484.400024,2036700,0,0.0
2020-01-22,1491.000000,1503.213989,1484.930054,1485.949951,1610800,0,0.0
2020-01-23,1487.640015,1495.520020,1482.099976,1486.650024,1351200,0,0.0

In [8]:
print(tickerDf.count())
tickerDf2.count()

Open            2532
High            2532
Low             2532
Close           2532
Volume          2532
Dividends       2532
Stock Splits    2532
dtype: int64

Open            8874
High            8874
Low             8874
Close           8874
Volume          8874
Dividends       8874
Stock Splits    8874
dtype: int64

In [15]:
#get event data for ticker : You can also use the yfinance library to get upcoming earnings events regarding the company.

print(tickerData.calendar)

#get recommendation data for ticker
tickerData.recommendations

                                    0                    1
Earnings Date     2021-07-20 00:00:00  2021-07-26 00:00:00
Earnings Average                  1.9                  1.9
Earnings Low                     1.64                 1.64
Earnings High                    2.03                 2.03
Revenue Average           44105500000          44105500000
Revenue Low               40850000000          40850000000
Revenue High              45019500000          45019500000

                               Firm       To Grade From Grade Action
Date
2012-03-16 08:19:00  Argus Research            Buy                up
2012-03-19 14:00:00  Hilliard Lyons  Long-Term Buy              main
2012-03-22 07:03:00  Morgan Stanley     Overweight              main
2012-04-03 11:53:00             UBS            Buy              main
2012-04-20 06:18:00   Deutsche Bank            Buy              main
...                             ...            ...        ...    ...
2021-04-28 12:36:50   Credit Suisse     Outperform              main
2021-04-28 13:08:28          Mizuho            Buy              main
2021-04-28 13:18:05  Morgan Stanley     Overweight              main
2021-05-13 11:05:37      Rosenblatt            Buy              init
2021-05-18 13:39:15       Jefferies            Buy              main

[328 rows x 4 columns]

In [22]:
st.line_chart(tickerDf.Close)
st.line_chart(tickerDf.Volume)

NameError: name 'st' is not defined